<div class="landing">
    <div class="text-center">
        <h2>Welcome to Wishlist maker</h2>
        <p>  This wishlist maker helps you decide on gifts for your loved ones during the holiday season. It will help make a wish list with everything you wanted during the Christmas Period..</p>

        <p> Merry Christmas, Cloud Community, and happy festive season :) :) </p>

        <img src="images/logo.png" width="500px" />
</div>
</div>

<br>
<br>
<div>
    <a asp-action="Index" asp-controller="Item">Click here to view wishlist</a>
</div>
